$mat-victorygreen: (
  50 : #e0ece8,
  100 : #b3d0c6,
  200 : #80b1a0,
  300 : #4d9279,
  400 : #267a5d,
  500 : #006340,
  600 : #005b3a,
  700 : #005132,
  800 : #00472a,
  900 : #00351c,
  A100 : #6dffaa,
  A200 : #3aff8d,
  A400 : #07ff6f,
  A700 : #00ec63,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mat-starsblack: (
  50 : #e6e5e5,
  100 : #c0bfbe,
  200 : #969492,
  300 : #6c6966,
  400 : #4d4946,
  500 : #2d2925,
  600 : #282421,
  700 : #221f1b,
  800 : #1c1916,
  900 : #110f0d,
  A100 : #ffac56,
  A200 : #ff9323,
  A400 : #f07800,
  A700 : #d66b00,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  )
);



$mat-black: (
  50 : #000000,
  100 : #000000,
  200 : #000000,
  300 : #000000,
  400 : #000000,
  500 : #000000,
  600 : #000000,
  700 : #000000,
  800 : #000000,
  900 : #000000,
  A100 : #000000,
  A200 : #000000,
  A400 : #000000,
  A700 : #000000,
  contrast: (
    50 : #ffffff,
    100 : #ffffff,
    200 : #ffffff,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$mat-ducksorange: (
  50 : #ffeae3,
  100 : #fecbb9,
  200 : #fea98a,
  300 : #fd865b,
  400 : #fc6c37,
  500 : #fc5214,
  600 : #fc4b12,
  700 : #fb410e,
  800 : #fb380b,
  900 : #fa2806,
  A100 : #ffffff,
  A200 : #fff0ee,
  A400 : #ffc2bb,
  A700 : #ffaba2,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mat-metallicgold: (
  50 : #f1eeea,
  100 : #ddd6c9,
  200 : #c7baa6,
  300 : #b09e82,
  400 : #9f8a67,
  500 : #8e754c,
  600 : #866d45,
  700 : #7b623c,
  800 : #715833,
  900 : #5f4524,
  A100 : #ffd5a2,
  A200 : #ffbd6f,
  A400 : #ffa63c,
  A700 : #ff9b23,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);



$mat-white: (
  50 : #ffffff,
  100 : #ffffff,
  200 : #ffffff,
  300 : #ffffff,
  400 : #ffffff,
  500 : #ffffff,
  600 : #ffffff,
  700 : #ffffff,
  800 : #ffffff,
  900 : #ffffff,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

/* For use in src/lib/core/theming/_palette.scss */
$mat-brickred: (
  50 : #f1e5e6,
  100 : #dbbdc1,
  200 : #c39298,
  300 : #ab666f,
  400 : #994550,
  500 : #872431,
  600 : #7f202c,
  700 : #741b25,
  800 : #6a161f,
  900 : #570d13,
  A100 : #ff8d94,
  A200 : #ff5a64,
  A400 : #ff2734,
  A700 : #ff0e1c,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$mat-desertsand: (
  50 : #fbf9f4,
  100 : #f5efe3,
  200 : #efe5d1,
  300 : #e8dbbe,
  400 : #e3d3b0,
  500 : #decba2,
  600 : #dac69a,
  700 : #d5be90,
  800 : #d1b886,
  900 : #c8ac75,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #fff5e1,
  A700 : #ffecc8,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mat-bruinsgold: (
  50 : #fff6e0,
  100 : #ffeab3,
  200 : #ffdc80,
  300 : #ffcd4d,
  400 : #ffc326,
  500 : #ffb800,
  600 : #ffb100,
  700 : #ffa800,
  800 : #ffa000,
  900 : #ff9100,
  A100 : #ffffff,
  A200 : #fff9f2,
  A400 : #ffe0bf,
  A700 : #ffd4a6,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mat-bruinsblack: (
  50 : #e6e5e5,
  100 : #c0bfbe,
  200 : #969493,
  300 : #6c6967,
  400 : #4d4947,
  500 : #2d2926,
  600 : #282422,
  700 : #221f1c,
  800 : #1c1917,
  900 : #110f0d,
  A100 : #ffac56,
  A200 : #ff9323,
  A400 : #f07800,
  A700 : #d66b00,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  )
);

$mat-navyblue: (
  50 : #e0e4e8,
  100 : #b3bcc7,
  200 : #808fa1,
  300 : #4d627b,
  400 : #26405f,
  500 : #001e43,
  600 : #001a3d,
  700 : #001634,
  800 : #00122c,
  900 : #000a1e,
  A100 : #5b78ff,
  A200 : #284eff,
  A400 : #002bf4,
  A700 : #0027da,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$mat-sabresgold: (
  50 : #fff6e0,
  100 : #ffeab3,
  200 : #ffdc80,
  300 : #ffcd4d,
  400 : #ffc326,
  500 : #ffb800,
  600 : #ffb100,
  700 : #ffa800,
  800 : #ffa000,
  900 : #ff9100,
  A100 : #ffffff,
  A200 : #fff9f2,
  A400 : #ffe0bf,
  A700 : #ffd4a6,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mat-flamesred: (
  50 : #f9e1e5,
  100 : #efb5bf,
  200 : #e58394,
  300 : #db5169,
  400 : #d32c49,
  500 : #cb0729,
  600 : #c60624,
  700 : #be051f,
  800 : #b80419,
  900 : #ac020f,
  A100 : #ffd5d7,
  A200 : #ffa2a6,
  A400 : #ff6f75,
  A700 : #ff565c,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mat-flamesgold: (
  50 : #fef7e8,
  100 : #fcecc5,
  200 : #fadf9f,
  300 : #f7d278,
  400 : #f6c95b,
  500 : #f4bf3e,
  600 : #f3b938,
  700 : #f1b130,
  800 : #efa928,
  900 : #ec9b1b,
  A100 : #ffffff,
  A200 : #fff7ec,
  A400 : #ffe2b9,
  A700 : #ffd8a0,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mat-hurricanesred: (
  50 : #f9e2e5,
  100 : #efb6be,
  200 : #e58593,
  300 : #db5468,
  400 : #d32f47,
  500 : #cb0a27,
  600 : #c60923,
  700 : #be071d,
  800 : #b80517,
  900 : #ac030e,
  A100 : #ffd5d7,
  A200 : #ffa2a5,
  A400 : #ff6f74,
  A700 : #ff565b,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mat-hurricanesblack: (
  50 : #e6e5e5,
  100 : #c0bfbe,
  200 : #969493,
  300 : #6c6967,
  400 : #4d4947,
  500 : #2d2926,
  600 : #282422,
  700 : #221f1c,
  800 : #1c1917,
  900 : #110f0d,
  A100 : #ffac56,
  A200 : #ff9323,
  A400 : #f07800,
  A700 : #d66b00,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  )
);

$mat-blackhawksred: (
  50 : #f9e1e5,
  100 : #efb5bf,
  200 : #e58394,
  300 : #db5169,
  400 : #d32c49,
  500 : #cb0729,
  600 : #c60624,
  700 : #be051f,
  800 : #b80419,
  900 : #ac020f,
  A100 : #ffd5d7,
  A200 : #ffa2a6,
  A400 : #ff6f75,
  A700 : #ff565c,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mat-blackhawksblack: (
  50 : #e6e5e5,
  100 : #c0bfbe,
  200 : #969493,
  300 : #6c6967,
  400 : #4d4947,
  500 : #2d2926,
  600 : #282422,
  700 : #221f1c,
  800 : #1c1917,
  900 : #110f0d,
  A100 : #ffac56,
  A200 : #ff9323,
  A400 : #f07800,
  A700 : #d66b00,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  )
);

$mat-blackhawksgold: (
  50 : #f9f1e0,
  100 : #f1dcb3,
  200 : #e7c580,
  300 : #ddae4d,
  400 : #d69c26,
  500 : #cf8b00,
  600 : #ca8300,
  700 : #c37800,
  800 : #bd6e00,
  900 : #b25b00,
  A100 : #ffebdb,
  A200 : #ffcfa8,
  A400 : #ffb375,
  A700 : #ffa55c,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mat-burgundy: (
  50 : #eee5e8,
  100 : #d4bec5,
  200 : #b8929e,
  300 : #9c6677,
  400 : #86465a,
  500 : #71253d,
  600 : #692137,
  700 : #5e1b2f,
  800 : #541627,
  900 : #420d1a,
  A100 : #ff7b96,
  A200 : #ff486d,
  A400 : #ff1544,
  A700 : #fb0032,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$mat-avalancheblue: (
  50 : #e4ecf2,
  100 : #bacfdf,
  200 : #8db0c9,
  300 : #5f90b3,
  400 : #3c78a3,
  500 : #1a6093,
  600 : #17588b,
  700 : #134e80,
  800 : #0f4476,
  900 : #083364,
  A100 : #96c1ff,
  A200 : #63a3ff,
  A400 : #3086ff,
  A700 : #1677ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$mat-bluejacketsblue: (
  50 : #e0e4e8,
  100 : #b3bbc6,
  200 : #808ea1,
  300 : #4d617b,
  400 : #263f5e,
  500 : #001d42,
  600 : #001a3c,
  700 : #001533,
  800 : #00112b,
  900 : #000a1d,
  A100 : #5b78ff,
  A200 : #284eff,
  A400 : #002bf4,
  A700 : #0027da,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$mat-bluejacketsred: (
  50 : #f9e1e5,
  100 : #efb5bf,
  200 : #e58394,
  300 : #db5169,
  400 : #d32c49,
  500 : #cb0729,
  600 : #c60624,
  700 : #be051f,
  800 : #b80419,
  900 : #ac020f,
  A100 : #ffd5d7,
  A200 : #ffa2a6,
  A400 : #ff6f75,
  A700 : #ff565c,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mat-redwingsred: (
  50 : #f9e1e6,
  100 : #f0b5c1,
  200 : #e68497,
  300 : #db536d,
  400 : #d42e4e,
  500 : #cc092f,
  600 : #c7082a,
  700 : #c00623,
  800 : #b9051d,
  900 : #ad0212,
  A100 : #ffd7d9,
  A200 : #ffa4a8,
  A400 : #ff7178,
  A700 : #ff5860,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mat-oilersorange: (
  50 : #ffeae1,
  100 : #fec9b3,
  200 : #fea681,
  300 : #fd824e,
  400 : #fc6728,
  500 : #fc4c02,
  600 : #fc4502,
  700 : #fb3c01,
  800 : #fb3301,
  900 : #fa2401,
  A100 : #ffffff,
  A200 : #ffefed,
  A400 : #ffc0ba,
  A700 : #ffa9a1,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mat-oilersblue: (
  50 : #e1e4e8,
  100 : #b4bcc6,
  200 : #828fa1,
  300 : #4f627b,
  400 : #2a405e,
  500 : #041e42,
  600 : #031a3c,
  700 : #031633,
  800 : #02122b,
  900 : #010a1d,
  A100 : #5b78ff,
  A200 : #284eff,
  A400 : #002bf4,
  A700 : #0027da,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$mat-panthersred: (
  50 : #f9e2e6,
  100 : #f0b6c0,
  200 : #e68596,
  300 : #db546c,
  400 : #d4304d,
  500 : #cc0b2d,
  600 : #c70a28,
  700 : #c00822,
  800 : #b9061c,
  900 : #ad0311,
  A100 : #ffd7d9,
  A200 : #ffa4a8,
  A400 : #ff7177,
  A700 : #ff585f,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mat-panthersblue: (
  50 : #e2e4e9,
  100 : #b6bcc7,
  200 : #8690a2,
  300 : #56647d,
  400 : #314261,
  500 : #0d2145,
  600 : #0b1d3e,
  700 : #091836,
  800 : #07142e,
  900 : #030b1f,
  A100 : #5c80ff,
  A200 : #2958ff,
  A400 : #0036f5,
  A700 : #0031db,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$mat-panthersgold: (
  50 : #f7f2ec,
  100 : #ebdfd0,
  200 : #decab0,
  300 : #d0b590,
  400 : #c6a579,
  500 : #bc9561,
  600 : #b68d59,
  700 : #ad824f,
  800 : #a57845,
  900 : #976733,
  A100 : #fff0e0,
  A200 : #ffd6ad,
  A400 : #ffbd7a,
  A700 : #ffb061,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mat-kingsblack: (
  50 : #e6e5e5,
  100 : #c0bfbe,
  200 : #969493,
  300 : #6c6967,
  400 : #4d4947,
  500 : #2d2926,
  600 : #282422,
  700 : #221f1c,
  800 : #1c1917,
  900 : #110f0d,
  A100 : #ffac56,
  A200 : #ff9323,
  A400 : #f07800,
  A700 : #d66b00,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  )
);

$mat-kingssilver: (
  50 : #f4f5f5,
  100 : #e3e6e6,
  200 : #d0d5d6,
  300 : #bdc4c6,
  400 : #afb7b9,
  500 : #a1aaad,
  600 : #99a3a6,
  700 : #8f999c,
  800 : #859093,
  900 : #747f83,
  A100 : #ffffff,
  A200 : #d6f3fc,
  A400 : #a0e7ff,
  A700 : #86e1ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mat-wildgreen: (
  50 : #e3e9e7,
  100 : #b8c8c2,
  200 : #89a49a,
  300 : #5a7f71,
  400 : #366352,
  500 : #134834,
  600 : #11412f,
  700 : #0e3827,
  800 : #0b3021,
  900 : #062115,
  A100 : #5effaa,
  A200 : #2bff8f,
  A400 : #00f774,
  A700 : #00de68,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mat-wildred: (
  50 : #f5e3e6,
  100 : #e5b9bf,
  200 : #d48a95,
  300 : #c25b6b,
  400 : #b5384b,
  500 : #a8152b,
  600 : #a01226,
  700 : #970f20,
  800 : #8d0c1a,
  900 : #7d0610,
  A100 : #ffabaf,
  A200 : #ff787f,
  A400 : #ff454f,
  A700 : #ff2b37,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$mat-beige: (
  50 : #fbf9f4,
  100 : #f5efe3,
  200 : #efe5d1,
  300 : #e8dbbe,
  400 : #e3d3b0,
  500 : #decba2,
  600 : #dac69a,
  700 : #d5be90,
  800 : #d1b886,
  900 : #c8ac75,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #fff5e1,
  A700 : #ffecc8,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mat-habsred: (
  50 : #f5e3e6,
  100 : #e5b9bf,
  200 : #d48a95,
  300 : #c25b6b,
  400 : #b5384b,
  500 : #a8152b,
  600 : #a01226,
  700 : #970f20,
  800 : #8d0c1a,
  900 : #7d0610,
  A100 : #ffabaf,
  A200 : #ff787f,
  A400 : #ff454f,
  A700 : #ff2b37,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$mat-habsblue: (
  50 : #e0e4ec,
  100 : #b3bbd0,
  200 : #808eb1,
  300 : #4d6092,
  400 : #263e7a,
  500 : #001c63,
  600 : #00195b,
  700 : #001451,
  800 : #001147,
  900 : #000935,
  A100 : #6d78ff,
  A200 : #3a49ff,
  A400 : #071aff,
  A700 : #0013ec,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$mat-predsyellow: (
  50 : #fff6e0,
  100 : #ffeab3,
  200 : #ffdc80,
  300 : #ffcd4d,
  400 : #ffc326,
  500 : #ffb800,
  600 : #ffb100,
  700 : #ffa800,
  800 : #ffa000,
  900 : #ff9100,
  A100 : #ffffff,
  A200 : #fff9f2,
  A400 : #ffe0bf,
  A700 : #ffd4a6,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mat-predsblue: (
  50 : #e0e4e8,
  100 : #b3bbc7,
  200 : #808ea1,
  300 : #4d617b,
  400 : #263f5f,
  500 : #001d43,
  600 : #001a3d,
  700 : #001534,
  800 : #00112c,
  900 : #000a1e,
  A100 : #5b78ff,
  A200 : #284eff,
  A400 : #002bf4,
  A700 : #0027da,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$mat-devilsred: (
  50 : #f9e1e5,
  100 : #efb5bf,
  200 : #e58394,
  300 : #db5169,
  400 : #d32c49,
  500 : #cb0729,
  600 : #c60624,
  700 : #be051f,
  800 : #b80419,
  900 : #ac020f,
  A100 : #ffd5d7,
  A200 : #ffa2a6,
  A400 : #ff6f75,
  A700 : #ff565c,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mat-devilsblack: (
  50 : #e6e5e5,
  100 : #c0bfbe,
  200 : #979593,
  300 : #6d6a67,
  400 : #4d4a47,
  500 : #2e2a26,
  600 : #292522,
  700 : #231f1c,
  800 : #1d1917,
  900 : #120f0d,
  A100 : #ff8f58,
  A200 : #ff6d25,
  A400 : #f15000,
  A700 : #d74800,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$mat-islesblue: (
  50 : #e0e6f1,
  100 : #b3c0dc,
  200 : #8097c4,
  300 : #4d6dac,
  400 : #264d9b,
  500 : #002e89,
  600 : #002981,
  700 : #002376,
  800 : #001d6c,
  900 : #001259,
  A100 : #8b97ff,
  A200 : #586aff,
  A400 : #253cff,
  A700 : #0b26ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$mat-islesorange: (
  50 : #ffe9e0,
  100 : #ffc9b3,
  200 : #ffa580,
  300 : #ff804d,
  400 : #ff6526,
  500 : #ff4a00,
  600 : #ff4300,
  700 : #ff3a00,
  800 : #ff3200,
  900 : #ff2200,
  A100 : #ffffff,
  A200 : #fff3f2,
  A400 : #ffc5bf,
  A700 : #ffada6,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mat-rangersblue: (
  50 : #e0e7f4,
  100 : #b3c4e4,
  200 : #809cd3,
  300 : #4d74c1,
  400 : #2657b3,
  500 : #0039a6,
  600 : #00339e,
  700 : #002c95,
  800 : #00248b,
  900 : #00177b,
  A100 : #a8b2ff,
  A200 : #7585ff,
  A400 : #4257ff,
  A700 : #2941ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$mat-rangersred: (
  50 : #f9e1e6,
  100 : #f0b5c1,
  200 : #e68497,
  300 : #db536d,
  400 : #d42e4e,
  500 : #cc092f,
  600 : #c7082a,
  700 : #c00623,
  800 : #b9051d,
  900 : #ad0212,
  A100 : #ffd7d9,
  A200 : #ffa4a8,
  A400 : #ff7178,
  A700 : #ff5860,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mat-sensred: (
  50 : #f9e1e5,
  100 : #efb5bf,
  200 : #e58394,
  300 : #db5169,
  400 : #d32c49,
  500 : #cb0729,
  600 : #c60624,
  700 : #be051f,
  800 : #b80419,
  900 : #ac020f,
  A100 : #ffd5d7,
  A200 : #ffa2a6,
  A400 : #ff6f75,
  A700 : #ff565c,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mat-sensgold: (
  50 : #f8f2e0,
  100 : #efdfb3,
  200 : #e4c980,
  300 : #d9b34d,
  400 : #d0a326,
  500 : #c89300,
  600 : #c28b00,
  700 : #bb8000,
  800 : #b47600,
  900 : #a76400,
  A100 : #ffead1,
  A200 : #ffd29e,
  A400 : #ffbb6b,
  A700 : #ffaf52,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mat-flyersorange: (
  50 : #fdeae5,
  100 : #f9cbbf,
  200 : #f5a994,
  300 : #f18769,
  400 : #ee6d48,
  500 : #eb5328,
  600 : #e94c24,
  700 : #e5421e,
  800 : #e23918,
  900 : #dd290f,
  A100 : #ffffff,
  A200 : #ffdad6,
  A400 : #ffaca3,
  A700 : #ff958a,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mat-pensyellow: (
  50 : #fff6e2,
  100 : #ffe9b7,
  200 : #ffdb87,
  300 : #ffcd57,
  400 : #ffc233,
  500 : #ffb70f,
  600 : #ffb00d,
  700 : #ffa70b,
  800 : #ff9f08,
  900 : #ff9004,
  A100 : #ffffff,
  A200 : #fff9f2,
  A400 : #ffe0bf,
  A700 : #ffd4a6,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mat-sharksteal: (
  50 : #e0ecee,
  100 : #b3d0d5,
  200 : #80b1b9,
  300 : #4d919d,
  400 : #267a88,
  500 : #006273,
  600 : #005a6b,
  700 : #005060,
  800 : #004656,
  900 : #003443,
  A100 : #78daff,
  A200 : #45ccff,
  A400 : #12beff,
  A700 : #00b3f7,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mat-sharksorange: (
  50 : #fceee0,
  100 : #f8d4b3,
  200 : #f4b880,
  300 : #ef9c4d,
  400 : #eb8626,
  500 : #e87100,
  600 : #e56900,
  700 : #e25e00,
  800 : #de5400,
  900 : #d84200,
  A100 : #ffffff,
  A200 : #ffd9cd,
  A400 : #ffb29a,
  A700 : #ff9e80,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mat-bluesblue: (
  50 : #e0e6f1,
  100 : #b3c0db,
  200 : #8097c4,
  300 : #4d6dac,
  400 : #264d9a,
  500 : #002e88,
  600 : #002980,
  700 : #002375,
  800 : #001d6b,
  900 : #001258,
  A100 : #8a97ff,
  A200 : #5769ff,
  A400 : #243cff,
  A700 : #0a25ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$mat-bluesyellow: (
  50 : #fff6e0,
  100 : #ffeab3,
  200 : #ffdc80,
  300 : #ffcd4d,
  400 : #ffc326,
  500 : #ffb800,
  600 : #ffb100,
  700 : #ffa800,
  800 : #ffa000,
  900 : #ff9100,
  A100 : #ffffff,
  A200 : #fff9f2,
  A400 : #ffe0bf,
  A700 : #ffd4a6,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mat-lightningblue: (
  50 : #e0e4ec,
  100 : #b3bcce,
  200 : #808fae,
  300 : #4d628e,
  400 : #264175,
  500 : #001f5d,
  600 : #001b55,
  700 : #00174b,
  800 : #001241,
  900 : #000a30,
  A100 : #6976ff,
  A200 : #3648ff,
  A400 : #031aff,
  A700 : #0015e8,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$mat-leafsblue: (
  50 : #e0e5ec,
  100 : #b3bed0,
  200 : #8093b1,
  300 : #4d6792,
  400 : #26477a,
  500 : #002663,
  600 : #00225b,
  700 : #001c51,
  800 : #001747,
  900 : #000d35,
  A100 : #6d80ff,
  A200 : #3a54ff,
  A400 : #0727ff,
  A700 : #001fec,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$mat-canucksblue: (
  50 : #e0e4eb,
  100 : #b3bcce,
  200 : #808fae,
  300 : #4d628d,
  400 : #264174,
  500 : #001f5c,
  600 : #001b54,
  700 : #00174a,
  800 : #001241,
  900 : #000a30,
  A100 : #6976ff,
  A200 : #3648ff,
  A400 : #031aff,
  A700 : #0015e8,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$mat-canucksgreen: (
  50 : #e1f0ea,
  100 : #b4dac9,
  200 : #82c1a6,
  300 : #4fa882,
  400 : #2a9567,
  500 : #04824c,
  600 : #037a45,
  700 : #036f3c,
  800 : #026533,
  900 : #015224,
  A100 : #85ffad,
  A200 : #52ff8b,
  A400 : #1fff69,
  A700 : #05ff58,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mat-knightsgold: (
  50 : #f1eee9,
  100 : #ddd5c9,
  200 : #c6baa5,
  300 : #af9e80,
  400 : #9e8965,
  500 : #8d744a,
  600 : #856c43,
  700 : #7a613a,
  800 : #705732,
  900 : #5d4422,
  A100 : #ffd4a0,
  A200 : #ffbe6d,
  A400 : #ffa73a,
  A700 : #ff9c20,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mat-knightsgrey: (
  50 : #e7e8e9,
  100 : #c3c6c9,
  200 : #9ba1a5,
  300 : #727b80,
  400 : #545e65,
  500 : #36424a,
  600 : #303c43,
  700 : #29333a,
  800 : #222b32,
  900 : #161d22,
  A100 : #68c2ff,
  A200 : #35aeff,
  A400 : #029aff,
  A700 : #008be7,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$mat-knightsred: (
  50 : #f9e1e6,
  100 : #f0b5c1,
  200 : #e68497,
  300 : #db536d,
  400 : #d42e4e,
  500 : #cc092f,
  600 : #c7082a,
  700 : #c00623,
  800 : #b9051d,
  900 : #ad0212,
  A100 : #ffd7d9,
  A200 : #ffa4a8,
  A400 : #ff7178,
  A700 : #ff5860,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mat-capsred: (
  50 : #f9e1e5,
  100 : #efb4bf,
  200 : #e58394,
  300 : #da5169,
  400 : #d22b49,
  500 : #ca0629,
  600 : #c50524,
  700 : #bd041f,
  800 : #b70319,
  900 : #ab020f,
  A100 : #ffd4d6,
  A200 : #ffa1a5,
  A400 : #ff6e74,
  A700 : #ff555b,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mat-capsblue: (
  50 : #e0e4e8,
  100 : #b3bbc7,
  200 : #808ea1,
  300 : #4d617b,
  400 : #263f5f,
  500 : #001d43,
  600 : #001a3d,
  700 : #001534,
  800 : #00112c,
  900 : #000a1e,
  A100 : #5b78ff,
  A200 : #284eff,
  A400 : #002bf4,
  A700 : #0027da,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$mat-jetsblue: (
  50 : #e0e4e8,
  100 : #b3bbc7,
  200 : #808ea1,
  300 : #4d617b,
  400 : #263f5f,
  500 : #001d43,
  600 : #001a3d,
  700 : #001534,
  800 : #00112c,
  900 : #000a1e,
  A100 : #5b78ff,
  A200 : #284eff,
  A400 : #002bf4,
  A700 : #0027da,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$mat-jetsred: (
  50 : #f5e3e6,
  100 : #e5b9bf,
  200 : #d48b95,
  300 : #c35c6b,
  400 : #b6394b,
  500 : #a9162b,
  600 : #a21326,
  700 : #981020,
  800 : #8f0c1a,
  900 : #7e0610,
  A100 : #ffadb1,
  A200 : #ff7a81,
  A400 : #ff4750,
  A700 : #ff2d38,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$mat-thrashersnavy: (
  50 : #e1e4e8,
  100 : #b4bcc6,
  200 : #828fa1,
  300 : #4f627b,
  400 : #2a405e,
  500 : #041e42,
  600 : #031a3c,
  700 : #031633,
  800 : #02122b,
  900 : #010a1d,
  A100 : #5b78ff,
  A200 : #284eff,
  A400 : #002bf4,
  A700 : #0027da,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$mat-copper: (
  50 : #f6ece5,
  100 : #ead0be,
  200 : #dcb092,
  300 : #cd9066,
  400 : #c37946,
  500 : #b86125,
  600 : #b15921,
  700 : #a84f1b,
  800 : #a04516,
  900 : #91330d,
  A100 : #ffd0c1,
  A200 : #ffaa8e,
  A400 : #ff835b,
  A700 : #ff7041,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mat-thrashersblue: (
  50 : #ebf1fb,
  100 : #cedbf4,
  200 : #aec4ed,
  300 : #8dace5,
  400 : #749ae0,
  500 : #5c88da,
  600 : #5480d6,
  700 : #4a75d0,
  800 : #416bcb,
  900 : #3058c2,
  A100 : #ffffff,
  A200 : #d4dfff,
  A400 : #a1b9ff,
  A700 : #87a6ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);


