<div class="primary-header page-header">
  <button md-button class="sidenav-toggle" (click)="toggleSidenav.emit()">
    <md-icon>menu</md-icon>
  </button>

  <h1>{{pageHeaderService.title}} </h1>

  <span class="spacer"></span>

  <md-select *ngIf="pageHeaderService.dropdown" [placeholder]="pageHeaderService.placeholder" panelClass="theme-select" (change)="selectOption($event)" [(ngModel)]="selectedOption">
    <md-option *ngFor="let option of pageHeaderService.options" [value]="option.name">{{option.name}}</md-option>
  </md-select>
</div>
