<div class="primary-header page-header">
  <button md-button class="sidenav-toggle" (click)="toggleSidenav.emit()">
    <md-icon [style.color]="themeService.theme.type === 'light' ? 'white' : 'black'">menu</md-icon>
  </button>

  <h1>{{pageHeaderService.title}} </h1>

  <span class="spacer"></span>

  <span *ngIf="!isScreenSmall() && pageHeaderService.datepicker">
    <md-input-container class="date">
      <input mdInput
             [min]="pageHeaderService.minDate"
             [max]="pageHeaderService.maxDate"
             [mdDatepicker]="start"
             placeholder="Start"
             [(ngModel)]="startDate"
             #startModel="ngModel"
             #startElement
             (change)="validateAndSelectStartDate(startModel)"
             (blur)="validateAndSelectStartDate(startModel)">
      <button mdSuffix [mdDatepickerToggle]="start" [ngClass]="themeService.theme.type"></button>
      <md-error *ngIf="startMinError">Too early</md-error>
      <md-error *ngIf="startMaxError">Too late</md-error>
    </md-input-container>
    <md-datepicker #start (selectedChanged)="selectStartDate($event)"></md-datepicker>
    <md-input-container class="date">
      <input mdInput
             [min]="pageHeaderService.minDate"
             [max]="pageHeaderService.maxDate"
             [mdDatepicker]="end"
             placeholder="End"
             [(ngModel)]="endDate"
             #endModel="ngModel"
             #endElement
             (change)="validateAndSelectEndDate(endModel)"
             (blur)="validateAndSelectEndDate(endModel)">
      <button mdSuffix [mdDatepickerToggle]="end" [ngClass]="themeService.theme.type"></button>
      <md-error *ngIf="endMinError">Too early</md-error>
      <md-error *ngIf="endMaxError">Too late</md-error>
    </md-input-container>
    <md-datepicker #end (selectedChanged)="selectEndDate($event)"></md-datepicker>
  </span>

  <span class="spacer"></span>

  <md-select *ngIf="pageHeaderService.dropdown" [placeholder]="pageHeaderService.placeholder" panelClass="theme-select" (change)="selectOption($event)" [(ngModel)]="selectedOption">
    <md-option *ngFor="let option of pageHeaderService.options" [value]="option.name">{{option.name}}</md-option>
  </md-select>
</div>
<div *ngIf="isScreenSmall() && pageHeaderService.datepicker" class="primary-header page-header mobile-datepicker">
  <md-input-container class="date">
    <input mdInput
           [min]="pageHeaderService.minDate"
           [max]="pageHeaderService.maxDate"
           [mdDatepicker]="start"
           placeholder="Start"
           [(ngModel)]="startDate"
           #startModel="ngModel"
           #startElement
           (change)="validateAndSelectStartDate(startModel)"
           (blur)="validateAndSelectStartDate(startModel)">
    <button mdSuffix [mdDatepickerToggle]="start" [ngClass]="themeService.theme.type"></button>
    <md-error *ngIf="startMinError">Too early</md-error>
    <md-error *ngIf="startMaxError">Too late</md-error>
  </md-input-container>
  <md-datepicker #start touchUi="true" (selectedChanged)="selectStartDate($event)"></md-datepicker>
  <md-input-container class="date">
    <input mdInput
           [min]="pageHeaderService.minDate"
           [max]="pageHeaderService.maxDate"
           [mdDatepicker]="end"
           placeholder="End"
           [(ngModel)]="endDate"
           #endModel="ngModel"
           #endElement
           (change)="validateAndSelectEndDate(endModel)"
           (blur)="validateAndSelectEndDate(endModel)">
    <button mdSuffix [mdDatepickerToggle]="end" [ngClass]="themeService.theme.type"></button>
    <md-error *ngIf="endMinError">Too early</md-error>
    <md-error *ngIf="endMaxError">Too late</md-error>
  </md-input-container>
  <md-datepicker #end touchUi="true" (selectedChanged)="selectEndDate($event)"></md-datepicker>
</div>
