@import '../../material/teams-themes';

$theme-picker-menu-padding: 8px;
$theme-picker-grid-cell-size: 48px;
$theme-picker-grid-cells-per-row: 2;
$theme-picker-swatch-size: 36px;
$theme-picker-accent-stripe-size: 6px;


button {
  opacity: 0.87;
}

.docs-theme-picker-menu {
  .md-menu-content {
    padding: $theme-picker-menu-padding;
  }

  [md-menu-item] {
    flex: 0 0 auto;
    padding: 0;
    overflow: hidden;
  }

  .mat-menu-item.selected {

  }

  .docs-theme-picker-swatch {
    position: relative;
    width: $theme-picker-swatch-size;
    height: $theme-picker-swatch-size;
    margin: ($theme-picker-grid-cell-size - $theme-picker-swatch-size) / 2;
    border-radius: 50%;
    overflow: hidden;

    .docs-theme-chosen-icon {
      color: white;
      position: absolute;
      left: 50%; top: 50%;
      transform: translate(-50%, -50%);
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      border: 1px solid rgba(0,0,0,.2);
      border-radius: 50%;
    }
  }

  .docs-theme-picker-primary {
    width: 100%;
    height: 100%;

    &.nhl {
      background: mat-color($nhl-primary, default) url('../../../assets/logos/nhl-primary.png') center no-repeat;
      background-size: cover;
    }

    &.anaheim-ducks {
      background: mat-color($anaheim-ducks-primary, default) url('../../../assets/logos/ana-primary.gif') center no-repeat;
      background-size: cover;
    }

    &.arizona-coyotes {
      background: mat-color($arizona-coyotes-accent, default) url('../../../assets/logos/ari-primary.png') center no-repeat;
      background-size: cover;
    }

    &.boston-bruins {
      background: mat-color($boston-bruins-primary, default) url('../../../assets/logos/bos-primary.png') center no-repeat;
      background-size: cover;
    }

    &.buffalo-sabres {
      background: mat-color($buffalo-sabres-primary, default) url('../../../assets/logos/buf-primary.png') center no-repeat;
      background-size: cover;
    }

    &.calgary-flames {
      background: mat-color($calgary-flames-warn, default) url('../../../assets/logos/cgy-primary.png') center no-repeat;
      background-size: cover;
    }

    &.carolina-hurricanes {
      background: mat-color($carolina-hurricanes-primary, default) url('../../../assets/logos/car-primary.png') center no-repeat;
      background-size: cover;
    }

    &.chicago-blackhawks {
      background: mat-color($chicago-blackhawks-primary, default) url('../../../assets/logos/chi-primary.png') center no-repeat;
      background-size: cover;
    }

    &.colorado-avalanche {
      background: mat-color($colorado-avalanche-primary, default) url('../../../assets/logos/col-primary.png') center no-repeat;
      background-size: cover;
    }

    &.columbus-bluejackets {
      background: mat-color($columbus-bluejackets-accent, default) url('../../../assets/logos/cbj-primary.png') center no-repeat;
      background-size: cover;
    }

    &.dallas-stars {
      background: mat-color($dallas-stars-primary, default) url('../../../assets/logos/dal-primary.png') center no-repeat;
      background-size: cover;
    }

    &.detroit-redwings {
      background: mat-color($detroit-redwings-accent, default) url('../../../assets/logos/det-primary.png') center no-repeat;
      background-size: cover;
    }

    &.edmonton-oilers {
      background: mat-color($edmonton-oilers-primary, default) url('../../../assets/logos/edm-primary.png') center no-repeat;
      background-size: cover;
    }

    &.florida-panthers {
      background: mat-color($florida-panthers-primary, default) url('../../../assets/logos/fla-primary.png') center no-repeat;
      background-size: cover;
    }

    &.losangeles-kings {
      background: mat-color($losangeles-kings-primary, default) url('../../../assets/logos/lak-primary.png') center no-repeat;
      background-size: cover;
    }

    &.minnesota-wild {
      background: mat-color($minnesota-wild-accent, default) url('../../../assets/logos/min-primary.png') center no-repeat;
      background-size: cover;
    }

    &.montreal-canadiens {
      background: mat-color($montreal-canadiens-primary, default) url('../../../assets/logos/mtl-primary.png') center no-repeat;
      background-size: cover;
    }

    &.nashville-predators {
      background: mat-color($nashville-predators-primary, default) url('../../../assets/logos/nsh-primary.png') center no-repeat;
      background-size: cover;
    }

    &.newjersey-devils {
      background: mat-color($newjersey-devils-warn, default) url('../../../assets/logos/njd-primary.png') center no-repeat;
      background-size: cover;
    }

    &.newyork-islanders {
      background: mat-color($newyork-islanders-primary, default) url('../../../assets/logos/nyi-primary.png') center no-repeat;
      background-size: cover;
    }

    &.newyork-rangers {
      background: mat-color($newyork-rangers-accent, default) url('../../../assets/logos/nyr-primary.png') center no-repeat;
      background-size: cover;
    }

    &.ottawa-senators {
      background: mat-color($ottawa-senators-primary, default) url('../../../assets/logos/ott-primary.png') center no-repeat;
      background-size: cover;
    }

    &.philadelphia-flyers {
      background: mat-color($philadelphia-flyers-primary, default) url('../../../assets/logos/phi-primary.png') center no-repeat;
      background-size: cover;
    }

    &.pittsburgh-penguins {
      background: mat-color($pittsburgh-penguins-warn, default) url('../../../assets/logos/pit-primary.png') center no-repeat;
      background-size: cover;
    }

    &.sanjose-sharks {
      background: mat-color($sanjose-sharks-warn, default) url('../../../assets/logos/sjs-primary.png') center no-repeat;
      background-size: cover;
    }

    &.stlouis-blues {
      background: mat-color($stlouis-blues-accent, default) url('../../../assets/logos/stl-primary.png') center no-repeat;
      background-size: cover;
    }

    &.tampabay-lightning {
      background: mat-color($tampabay-lightning-accent, default) url('../../../assets/logos/tbl-primary.png') center no-repeat;
      background-size: cover;
    }

    &.toronto-mapleleafs {
      background: mat-color($toronto-mapleleafs-accent, default) url('../../../assets/logos/tor-primary.png') center no-repeat;
      background-size: cover;
    }

    &.vancouver-canucks {
      background: mat-color($vancouver-canucks-warn, default) url('../../../assets/logos/van-primary.png') center no-repeat;
      background-size: cover;
    }

    &.vegas-goldenknights {
      background: mat-color($vegas-goldenknights-primary, default) url('../../../assets/logos/veg-primary.png') center no-repeat;
      background-size: cover;
    }

    &.washington-capitals {
      background: mat-color($washington-capitals-warn, default) url('../../../assets/logos/was-primary.png') center no-repeat;
      background-size: cover;
    }

    &.winnipeg-jets {
      background: mat-color($winnipeg-jets-primary, default) url('../../../assets/logos/wpg-primary.png') center no-repeat;
      background-size: cover;
    }
  }

  .docs-theme-picker-accent {
    position: absolute;
    bottom: $theme-picker-accent-stripe-size;
    width: 100%;
    height: $theme-picker-accent-stripe-size;
  }
}
