<md-tab-group>
  <md-tab label="Division">
    <md-spinner *ngIf="!dataService.divisionLoaded" [@loaderInOut]="!dataService.divisionLoaded"></md-spinner>
    <md-grid-list cols="4" [rowHeight]="getRowHeight('division')" *ngIf="dataService.divisionLoaded && !seasonService.oldLeagueFormat()" [@standingsInOut]="dataService.divisionLoaded">
      <md-grid-tile>
        <md-list>
          <h1 md-subheader>{{league.easternConference.atlanticDivision.name}}</h1>
          <md-list-item *ngFor="let entry of league.easternConference.atlanticDivision.standings?.teams">
            <button md-button (click)="openDialog(entry)">
              <md-card class="list-card">
                <md-card-content>
                  <div class="logo" [ngClass]="entry.team.cssClass"></div>
                </md-card-content>
              </md-card>
            </button>
          </md-list-item>
        </md-list>
      </md-grid-tile>

      <md-grid-tile>
        <md-list>
          <h1 md-subheader>{{league.easternConference['metropolitanDivision'].name}}</h1>
          <md-list-item *ngFor="let entry of league.easternConference['metropolitanDivision'].standings?.teams">
            <button md-button (click)="openDialog(entry)">
              <md-card class="list-card">
                <md-card-content>
                  <div class="logo" [ngClass]="entry.team.cssClass"></div>
                </md-card-content>
              </md-card>
            </button>
          </md-list-item>
        </md-list>
      </md-grid-tile>

      <md-grid-tile>
        <md-list>
          <h1 md-subheader>{{league.westernConference.centralDivision.name}}</h1>
          <md-list-item *ngFor="let entry of league.westernConference.centralDivision.standings?.teams">
            <button md-button (click)="openDialog(entry)">
              <md-card class="list-card">
                <md-card-content>
                  <div class="logo" [ngClass]="entry.team.cssClass"></div>
                </md-card-content>
              </md-card>
            </button>
          </md-list-item>
        </md-list>
      </md-grid-tile>

      <md-grid-tile>
        <md-list>
          <h1 md-subheader>{{league.westernConference.pacificDivision.name}}</h1>
          <md-list-item *ngFor="let entry of league.westernConference.pacificDivision.standings?.teams">
            <button md-button (click)="openDialog(entry)">
              <md-card class="list-card">
                <md-card-content>
                  <div class="logo" [ngClass]="entry.team.cssClass"></div>
                </md-card-content>
              </md-card>
            </button>
          </md-list-item>
        </md-list>
      </md-grid-tile>
    </md-grid-list>
    <md-grid-list cols="6" [rowHeight]="getRowHeight('division')" *ngIf="dataService.divisionLoaded && seasonService.oldLeagueFormat()" [@standingsInOut]="dataService.divisionLoaded">
      <md-grid-tile>
        <md-list>
          <h1 md-subheader>{{league.easternConference.atlanticDivision.name}}</h1>
          <md-list-item *ngFor="let entry of league.easternConference.atlanticDivision.standings?.teams">
            <button md-button (click)="openDialog(entry)">
              <md-card class="list-card">
                <md-card-content>
                  <div class="logo old" [ngClass]="entry.team.cssClass"></div>
                </md-card-content>
              </md-card>
            </button>
          </md-list-item>
        </md-list>
      </md-grid-tile>

      <md-grid-tile>
        <md-list>
          <h1 md-subheader>{{league.easternConference['northeastDivision'].name}}</h1>
          <md-list-item *ngFor="let entry of league.easternConference['northeastDivision'].standings?.teams">
            <button md-button (click)="openDialog(entry)">
              <md-card class="list-card">
                <md-card-content>
                  <div class="logo old" [ngClass]="entry.team.cssClass"></div>
                </md-card-content>
              </md-card>
            </button>
          </md-list-item>
        </md-list>
      </md-grid-tile>

      <md-grid-tile>
        <md-list>
          <h1 md-subheader>{{league.easternConference['southeastDivision'].name}}</h1>
          <md-list-item *ngFor="let entry of league.easternConference['southeastDivision'].standings?.teams">
            <button md-button (click)="openDialog(entry)">
              <md-card class="list-card">
                <md-card-content>
                  <div class="logo old" [ngClass]="entry.team.cssClass"></div>
                </md-card-content>
              </md-card>
            </button>
          </md-list-item>
        </md-list>
      </md-grid-tile>

      <md-grid-tile>
        <md-list>
          <h1 md-subheader>{{league.westernConference.centralDivision.name}}</h1>
          <md-list-item *ngFor="let entry of league.westernConference.centralDivision.standings?.teams">
            <button md-button (click)="openDialog(entry)">
              <md-card class="list-card">
                <md-card-content>
                  <div class="logo old" [ngClass]="entry.team.cssClass"></div>
                </md-card-content>
              </md-card>
            </button>
          </md-list-item>
        </md-list>
      </md-grid-tile>

      <md-grid-tile>
        <md-list>
          <h1 md-subheader>{{league.westernConference['northwestDivision'].name}}</h1>
          <md-list-item *ngFor="let entry of league.westernConference['northwestDivision'].standings?.teams">
            <button md-button (click)="openDialog(entry)">
              <md-card class="list-card">
                <md-card-content>
                  <div class="logo old" [ngClass]="entry.team.cssClass"></div>
                </md-card-content>
              </md-card>
            </button>
          </md-list-item>
        </md-list>
      </md-grid-tile>

      <md-grid-tile>
        <md-list>
          <h1 md-subheader>{{league.westernConference.pacificDivision.name}}</h1>
          <md-list-item *ngFor="let entry of league.westernConference.pacificDivision.standings?.teams">
            <button md-button (click)="openDialog(entry)">
              <md-card class="list-card">
                <md-card-content>
                  <div class="logo old" [ngClass]="entry.team.cssClass"></div>
                </md-card-content>
              </md-card>
            </button>
          </md-list-item>
        </md-list>
      </md-grid-tile>
    </md-grid-list>
  </md-tab>
  <md-tab label="Conference">
    <md-spinner *ngIf="!dataService.conferenceLoaded" [@loaderInOut]="!dataService.conferenceLoaded"></md-spinner>
    <md-grid-list cols="2" [rowHeight]="getRowHeight('conference')" *ngIf="dataService.conferenceLoaded" [@standingsInOut]="dataService.conferenceLoaded">
      <md-grid-tile>
        <md-list>
          <h1 md-subheader>{{league.easternConference.name}}</h1>
          <md-list-item *ngFor="let entry of league.easternConference.standings?.teams">
            <button md-button (click)="openDialog(entry)">
              <md-card class="list-card">
                <md-card-content>
                  <div class="logo conference accent" [ngClass]="[entry.team.cssClass, seasonService.oldLeagueFormat() ? 'old': '']"></div>
                </md-card-content>
              </md-card>
            </button>
          </md-list-item>
        </md-list>
      </md-grid-tile>

      <md-grid-tile>
        <md-list>
          <h1 md-subheader>{{league.westernConference.name}}</h1>
          <md-list-item *ngFor="let entry of league.westernConference.standings?.teams">
            <button md-button (click)="openDialog(entry)">
              <md-card class="list-card">
                <md-card-content>
                  <div class="logo conference accent" [ngClass]="[entry.team.cssClass, seasonService.oldLeagueFormat() ? 'old': '']"></div>
                </md-card-content>
              </md-card>
            </button>
          </md-list-item>
        </md-list>
      </md-grid-tile>
    </md-grid-list>
  </md-tab>
  <md-tab label="League">
    <md-spinner *ngIf="!dataService.leagueLoaded" [@loaderInOut]="!dataService.leagueLoaded"></md-spinner>
    <md-grid-list cols="1" [rowHeight]="getRowHeight('league')" *ngIf="dataService.leagueLoaded" [@standingsInOut]="dataService.leagueLoaded">
      <md-grid-tile>
        <md-list>
          <h1 md-subheader>{{league.name}}</h1>
          <md-list-item *ngFor="let entry of league.standings?.teams">
            <button md-button (click)="openDialog(entry)">
              <md-card class="list-card">
                <md-card-content>
                  <div class="logo league wordmark" [ngClass]="[entry.team.cssClass, seasonService.oldLeagueFormat() ? 'old': '']"></div>
                </md-card-content>
              </md-card>
            </button>
          </md-list-item>
        </md-list>
      </md-grid-tile>
    </md-grid-list>
  </md-tab>
  <md-tab label="Wild Card">
    <md-spinner *ngIf="!dataService.wildCardLoaded" [@loaderInOut]="!dataService.wildCardLoaded"></md-spinner>
    <md-grid-list cols="2" [rowHeight]="getRowHeight('conference')" *ngIf="dataService.wildCardLoaded" [@standingsInOut]="dataService.wildCardLoaded">
      <md-grid-tile>
        <md-list>
          <h1 md-subheader>{{league.easternConference.name}}</h1>
          <md-list-item *ngFor="let entry of league.easternConference.wildCardStandings?.teams">
            <button md-button (click)="openDialog(entry)">
              <md-card class="list-card">
                <md-card-content>
                  <div class="logo conference accent" [ngClass]="[entry.team.cssClass, seasonService.oldLeagueFormat() ? 'old': '']"></div>
                </md-card-content>
              </md-card>
            </button>
          </md-list-item>
        </md-list>
      </md-grid-tile>

      <md-grid-tile>
        <md-list>
          <h1 md-subheader>{{league.westernConference.name}}</h1>
          <md-list-item *ngFor="let entry of league.westernConference.wildCardStandings?.teams">
            <button md-button (click)="openDialog(entry)">
              <md-card class="list-card">
                <md-card-content>
                  <div class="logo conference accent" [ngClass]="[entry.team.cssClass, seasonService.oldLeagueFormat() ? 'old': '']"></div>
                </md-card-content>
              </md-card>
            </button>
          </md-list-item>
        </md-list>
      </md-grid-tile>
    </md-grid-list>
  </md-tab>
</md-tab-group>
