$small-breakpoint-width: 840px;

.container {
  padding: 0.5em 1em;

  md-spinner {
    margin: 2em auto;
  }

  .mat-input-container {
    width: 100%;
  }

  input, .mat-input-placeholder-wrapper {
    width: 12.5%;
    display: inline-block;

    @media (max-width: $small-breakpoint-width) {
      width: 100%;
      display: block;
    }
  }

  md-chip-list {
    width: 87.5%;
    position:absolute;
    top: -10px;

    md-chip {
      cursor: pointer;

      @media (max-width: $small-breakpoint-width) {
        margin: 8px 1.5px;
      }
    }

    @media (max-width: $small-breakpoint-width) {
      width: 100%;
      position: relative;
      top: 0;

      &.outside-header {
        md-chip {
          margin: 4px 1.5px;
        }
      }
    }
  }

  md-expansion-panel {
    width: 100%;
    position: relative;
    top: -10px;

    mat-panel-title {
      //justify-content: center;
    }

    .mat-expansion-panel-body {
      padding-left: 8px;
      padding-right: 8px;
    }

    md-action-row {
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }

  :host /deep/ ngx-charts-line-chart {
    ngx-charts-chart {
      .ngx-charts-outer {
        margin-left: -1em;
      }
    }
  }
}
