md-toolbar {
  position: relative;
  z-index: 10;

  .header {
    text-transform: uppercase;
    opacity: 0.87;
    cursor: pointer;
    font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
  }

  .example-icon {
    opacity: 0.87;
    margin: 0 1em;
  }

  .example-spacer {
    flex: 1 1 auto;
  }

  md-icon {
    cursor: pointer;
  }
}
