.footer {
  margin-top: 40px;
  padding: 12px;
  font-size: 12px;
}

.footer-list {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  padding: 8px;
}

.footer-logo {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

@media screen and (max-width: 884px){
  .footer-list {
    flex-direction: column;
  }
}
